@import "tailwindcss";

@theme {

  --color-base-0: #fff;

  --color-brand-blue: #0d3291;
  --color-brand-blue-alt: #284dad; 
  --color-brand-orange: #eb6b10;
  --color-brand-orange-alt: #c15d23;


/*This is current base 
  --color-base-0: #fff;
  --color-base-50: oklch(0.985 0.002 247.839);
  --color-base-100: oklch(0.967 0.003 264.542);
  --color-base-200: oklch(0.928 0.006 264.531);
  --color-base-300: oklch(0.872 0.01 258.338);
  --color-base-400: oklch(0.707 0.022 261.325);
  --color-base-500: oklch(0.551 0.027 264.364);
  --color-base-600: oklch(0.446 0.03 256.802);
  --color-base-700: oklch(0.373 0.034 259.733);
  --color-base-800: oklch(0.278 0.033 256.848);
  --color-base-900: oklch(0.21 0.034 264.665);
  --color-base-950: oklch(0.13 0.028 261.692); */

  /* Darkest to Lightest Base Colors (Grey/Slate) */
  --color-base-1000: hsl(209, 61%, 16%);
  --color-base-900: hsl(211, 39%, 23%);
  --color-base-800: hsl(209, 34%, 30%);
  --color-base-700: hsl(209, 28%, 39%);
  --color-base-600: hsl(210, 22%, 49%);
  --color-base-500: hsl(209, 23%, 60%);
  --color-base-400: hsl(211, 27%, 70%);
  --color-base-300: hsl(210, 31%, 80%);
  --color-base-200: hsl(212, 33%, 89%);
  --color-base-100: hsl(210, 36%, 96%);
  --color-base-0: hsl(0, 0%, 100%);


  
  --color-blue-1000: hsl(205, 100%, 21%);
  --color-blue-900: hsl(205, 87%, 29%);
  --color-blue-800: hsl(205, 82%, 33%);
  --color-blue-700: hsl(205, 76%, 39%);
  --color-blue-600: hsl(205, 67%, 45%);
  --color-blue-500: hsl(205, 65%, 55%);
  --color-blue-400: hsl(205, 74%, 65%);
  --color-blue-300: hsl(205, 84%, 74%);
  --color-blue-200: hsl(205, 97%, 85%);
  --color-blue-100: hsl(205, 79%, 92%);

  /* Darkest to Lightest Yellow */
  --color-yellow-1000: hsl(15, 86%, 30%);
  --color-yellow-900: hsl(22, 82%, 39%);
  --color-yellow-800: hsl(29, 80%, 44%);
  --color-yellow-700: hsl(36, 77%, 49%);
  --color-yellow-600: hsl(42, 87%, 55%);
  --color-yellow-500: hsl(44, 92%, 63%);
  --color-yellow-400: hsl(48, 94%, 68%);
  --color-yellow-300: hsl(48, 95%, 76%);
  --color-yellow-200: hsl(48, 100%, 88%);
  --color-yellow-100: hsl(49, 100%, 96%);

  /* --- CYAN PALETTE --- */
  --color-cyan-1000: hsl(184, 91%, 17%);
  --color-cyan-900: hsl(185, 84%, 25%);
  --color-cyan-800: hsl(185, 81%, 29%);
  --color-cyan-700: hsl(184, 77%, 34%);
  --color-cyan-600: hsl(185, 62%, 45%);
  --color-cyan-500: hsl(185, 57%, 50%);
  --color-cyan-400: hsl(184, 65%, 59%);
  --color-cyan-300: hsl(184, 80%, 74%);
  --color-cyan-200: hsl(185, 94%, 87%);
  --color-cyan-100: hsl(186, 100%, 94%);

  /* --- RED PALETTE --- */
  --color-red-1000: hsl(360, 92%, 20%);
  --color-red-900: hsl(360, 85%, 25%);
  --color-red-800: hsl(360, 79%, 32%);
  --color-red-700: hsl(360, 72%, 38%);
  --color-red-600: hsl(360, 67%, 44%);
  --color-red-500: hsl(360, 64%, 55%);
  --color-red-400: hsl(360, 71%, 66%);
  --color-red-300: hsl(360, 77%, 78%);
  --color-red-200: hsl(360, 82%, 89%);
  --color-red-100: hsl(360, 100%, 97%);

  /*
  text-xs: 12px
  text-sm: 14px
  text-base: 16px
  text-lg: 18px
  text-xl: 20px
  text-2xl: 24px
  text-4xl: 32px
  text-5xl: 48px
  */
}